body{
    background-color: #23222a;
    color: #ffffff;
    font-family: "Press Start 2P";
}

label{
    padding: 0.5rem;
    color:white;
    font-size: 12px;
    margin-left: 10rem;
}
#kuldes{
    border-radius: 10px;
    padding: 0.2rem;
    margin-bottom: 1rem;
    float: left;
}
#urlap{
    background-color: grey;
    max-height: 700px;
}
img{
    width: 100%;
}
#pr_spawn_time_min, #pr_spawn_time_max{
    width: 100px;
    margin: 0.2rem;
    font-size: 12px;
}
h1{
    font-size: 20px;
}
#cim{
    margin: 2rem;
}
h2{
    font-size: 16px;
    padding: 0.2rem;
}
input{
    max-width: 150px;
    float: right;
}
li{
    padding: 0.5rem;
}